<div class="p-grid">
  <h5>Login</h5>
  <div class="p-col-12 p-md-6 p-lg-3">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="enter your username" />
    </span>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" />
    </span>
  </div>
  <button class="btn btn-primary" (click)="logged()">login</button>
</div>
